main {
  max-width: 100vw;
  width: 100%;
  min-height: 80vh;
}

.container {
  max-width: 100vw;
  height: 75.6rem;
  display: flex;
  flex-direction: column;
  background: url("../public/bg-red.svg") no-repeat center / cover;
}

.header {
  max-width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  padding: 2rem 20rem 2rem 20rem;
}

.image {
  height: 6.4rem;
  width: 6.4rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .8rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  background: #FFFFFF;
  padding: .5rem .8rem;
  border-radius: 50px;
  margin-bottom: 2rem;
}

.icon {
  background: #F6D9D9;
  padding: .5rem;
  border-radius: 50%;
}

.textIcon {
  color: #C20001;
  font-size: 1.5rem;
  font-weight: 600;
}

.textHelp {
  font-size: 1.8rem;
  font-weight: 400;
}

.title {
  font-family: Nunito;
  font-size: 6.4rem;
  font-weight: 700;
}

.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transform: rotate(-90deg);
  position: absolute;
  left: 19.8rem;
}

.iconExplore {
  background-color: #C90C0C;
  padding: .8rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 79.8rem;
  margin-top: 10rem;
  
  animation: bounce 2.5s infinite ease-in forwards;
}

.imageLight {
  height: 100%;
  width: 17rem;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

.findPoke {
  background: #EFF3F6;
  height: 32rem;
  color: #2F3133;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20rem;
}

.findPokeText {
  font-size: 3.2rem;
  font-weight: bold;
  max-width: 26.5rem
}

.searchPoke {
  background: #ffff;
  border-radius: 122px;
  height: 5.6rem;
  max-width: 40.3rem;
  display: flex;
  align-items: center;
  padding: 0 .8rem;
  width: 100%;
}

.searchInput {
  color: #A0AFBA;
  font-size: 1.5rem;
  flex-grow: 1;
  margin-left: 1.5rem;
  background: transparent;
  outline: none;
  border: none;
}
.searchInput::placeholder {
  color: #A0AFBA;
  font-size: 1.5rem;
}

.searchButton {
  height: 4.2rem;
  width: 4.2rem;
  border: 1px solid #E1E9EF;
  background: #FAFBFD;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}